
@font-face {
  font-family: 'Cabin Condensed';
  src: url('CabinCondensed-Medium.ttf')  format('truetype');
}
body {
  background: -moz-linear-gradient(-45deg,  rgba(255,43,29,1) 0%, rgba(255,29,128,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(255,43,29,1) 0%,rgba(255,29,128,1) 100%);
  background: linear-gradient(135deg,  rgba(255,43,29,1) 0%,rgba(255,29,128,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF2B1D', endColorstr='#FF1D80',GradientType=1 );
  font-family: "Cabin Condensed";
}
